<div class="container-fluid">
  <div class="jumbotron">
    <h1>{{ car.year }} {{car.make}} {{car.model}} <i class="fas fa-times-circle right" (click)="back()"></i></h1>
    <div class="d-flex flex-row flex-wrap">
      <div class="picture col-md-9">
          <img [src]="selectedImage"/>
      </div>
      <div class="col-md-3 d-flex flex-row flex-wrap align-items-center justify-content-center">
          <div class="thumb col-6 col-sm-4 col-md-3" *ngFor="let image of car.imageList; let i = index;">
            <img [src]="image" (mouseenter)="selectedImage = image" (click)="selectedImage = image"/>
          </div>
        </div>
        <div *ngIf="readLess" [innerHtml]="vehicleDescription | ellipsis: 1000"></div>
        <a *ngIf="readLess" (click)="readMoreClicked()" href="#">Read more</a>
        <div *ngIf="readMore"[innerHtml]="vehicleDescription"></div>
        <a *ngIf="readMore" (click)="readLessClicked()" href="#">Read less</a>
    </div>
  </div>
</div>