<div class="container-fluid">
  <div class="jumbotron text-center">
    <i class="fas fa-times-circle close" (click)="back()"></i>
      <div *ngIf="showProgress"
        class="form-horizontal d-flex flex-column align-items-center justify-content-center flex-wrap">
        <h2>Running Prequalification for Loans</h2>
        <circle-progress id="circ" [percent]="100" [radius]="100" [outerStrokeWidth]="24" [innerStrokeWidth]="16"
          [outerStrokeColor]="'#00cc00'" [innerStrokeColor]="'blue'" [backgroundGradient]="true"
          [backgroundColor]="'#ffffff'" [backgroundGradientStopColor]="'#f3f3f3'" [animation]="true"
          [animationDuration]="5000" [titleFontSize]="30" [subtitleFontSize]="15">
        </circle-progress>
      </div>
      <form *ngIf="!showProgress" #jumboForm="ngForm"
        class="form-horizontal d-flex flex-column align-items-center justify-content-start flex-wrap">
        <h2 class="col-12">Congratulations!</h2>
        <h4>You have been prequalified for<br />a loan up to {{ purchasingPower | currency }}</h4>
        <p class="col-12 col-md-4">
          That means that you may purchase this vehicle for {{ car.sale_price | currency }}, or go back and pick an even
          better one!
        </p>
        <div class="d-flex flex-row align-items-center justify-content-start flex-wrap">
          <img [src]="car.imageList[0]" class="col-md-6" />
          <div class="col-md-6 text-md-right h5">
            {{ 'Buy This' | translate }}
            {{ car.year }} {{ car.make }} {{car.model }} {{ 'for' | translate }}
            {{ calculatePayment(car) | currency }}/{{ installmentLabel | translate }}<sup>*</sup><br />
            <small *ngFor="let plan of selectedPlans; let i=index">
              <span *ngIf="i==0" translate><sup>*</sup>Includes: </span>
              {{ plan.description | translate }}
              {{ plan.monthly | currency }}<br />
            </small>
            <hr />
            {{ 'Pay Down Payment:' | translate }}
            {{ dueAtSigning | currency }}<br />
            <div class="form-group" [class.has-danger]="cardNumber.touched && cardNumber.invalid"
              [class.has-success]="cardNumber.valid">
              <input type="text" #cardNumber="ngModel" name="cardNumber"
                placeholder="{{ 'Credit Card Number' | translate }}" pattern="(\d{4}-{0,1}){3}\d{2,4}"
                [(ngModel)]="model.cardNumber" class="form-control" required mask="0000-0000-0000-0099" />
              <span *ngIf="cardNumber.touched && cardNumber.invalid" class="text-danger">Credit card number is
                invalid</span>
            </div>
            <div class="form-group" [class.has-danger]="cardHolder.touched && cardHolder.invalid"
              [class.has-success]="cardHolder.valid">
              <input type="text" #cardHolder="ngModel" name="cardHolder" placeholder="{{ 'Name on Card' | translate }}"
                pattern="\w{2,}\s+\w{2,}" [(ngModel)]="model.cardHolder" class="form-control" required />
              <span *ngIf="cardHolder.touched && cardHolder.invalid" class="text-danger" translate>Name on Card is
                required</span>
            </div>
            <div class="form-group" [class.has-danger]="cardExpiration.touched && cardExpiration.invalid"
              [class.has-success]="cardExpiration.valid">
              <input type="text" #cardExpiration="ngModel" name="cardExpiration"
                placeholder="{{ 'Expires' | translate }}" pattern="\d{1,2}/\d{2,4}" mask="09/0099"
                [dropSpecialCharacters]="false" [(ngModel)]="model.cardExpiration" class="form-control" required />
              <span *ngIf="cardExpiration.touched && cardExpiration.invalid" class="text-danger">Enter a valid
                expiration date</span>
            </div>
            <div class="form-group" [class.has-danger]="securityCode.touched && securityCode.invalid"
              [class.has-success]="securityCode.valid">
              <input type="text" #securityCode="ngModel" name="securityCode"
                placeholder="{{ 'Security Code' | translate }}" pattern="\d{3,4}" mask="0009"
                [(ngModel)]="model.securityCode" class="form-control" required />
              <span *ngIf="securityCode.touched && securityCode.invalid" class="text-danger">The security code is
                required</span>
            </div>
          </div>
        </div>
        <p class="col-12 m-2">
          <button type="button" (click)="back()" class="btn btn btn-secondary">
            <i class="fas fa-chevron-left"></i>
            Back
          </button>
          <button type="button" class="btn btn-success btn-2x m-2" (click)="purchase()">
            Buy My Car <i class="fas fa-chevron-right"></i>
          </button>
        </p>
      </form>
  </div>
</div>