.bold {
    font-weight: bold;
}
.auto-pay {
    color: yellow;
    // font-size: .5em;
    word-wrap: normal;
    white-space: normal;
    width: 40%;
}

.fa-info-circle.yellow {
    color: yellow;
    background-color: black;
    border-radius: 50%;
}
svg {
    text-shadow: -1px -1px 5px white,  
        1px -1px 5px white,
        -1px 1px 5px white,
        1px 1px 5px white;
}