<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Buy A Car</h1>
    <h5>Step 1: Calculate Purchasing Power</h5>
    <h6 translate>The first step to buying a quality card is knowing what you can afford. The calculator below will help determine the vehicles<br/>that you can afford. This gives you a highly accurate price range to use as the basis for a vehicle search.</h6>
    <p translate>Use the sliders below to dial in the price range for your vehicle search. When finished, hit the search button to see all of the vehices we have which qualify.</p>
    <form #buyForm="ngForm">
      <div class="container-fluid d-flex flex-column align-items-center grow">
        <div class="d-flex flex-sm-row flex-column flex-wrap col-md-6">
          <label class="col-md-3" translate>Monthly Payment</label>
          <ng5-slider class="col-md-9" [(value)]="model.installmentAmount" [options]="installmentOptions" (userChange)="installmentAmountChanged()"></ng5-slider>
        </div>
        <div class="d-flex flex-sm-row flex-column flex-wrap col-md-6">
            <label class="col-md-3" translate>Down Payment</label>
            <ng5-slider class="col-md-9" [(value)]="model.downPayment" [options]="downOptions" (userChange)="downPaymentChanged()"></ng5-slider>
        </div>
        <div class="d-flex flex-sm-row flex-column flex-wrap col-md-6">
            <label class="col-md-3" translate>Loan Length</label>
            <ng5-slider class="col-md-9" [(value)]="model.loanLength" [options]="lengthOptions" (userChange)="loanLengthChanged()"></ng5-slider>
        </div>
        <div class="d-flex flex-sm-row flex-column flex-wrap col-md-6">
            <label class="col-md-3" translate>Payment Frequency</label>
            <ng5-slider class="col-md-9" [(value)]="model.period" [options]="periodOptions" (userChange)="periodChanged()"></ng5-slider>
        </div>
        <div class="d-flex flex-sm-row flex-column flex-wrap col-md-6">
            <label class="col-md-3" translate>Credit Score</label>
            <ng5-slider class="col-md-9" [(value)]="model.creditScore" [options]="scoreOptions" (userChange)="creditScoreChanged()"></ng5-slider>
        </div>
      </div>
    </form>
    <hr>
    <div class="d-flex flex-column flex-sm-row flex-wrap align-items-center justify-content-center">
      <div class="d-flex flex-column flex-sm-row flex-wrap col-md-4">
        <h4 class="col-md-12">Monthly</h4>
        <div class="h5 col-sm-6 right">Monthly Payment:</div><div class="h5 col-sm-6 col-md-4 right">{{ model.installmentAmount | currency }}</div>
        <div class="h5 col-sm-6 right">Purchasing Power<sup>*</sup>:</div><div class="h5 col-sm-6 col-md-4 right">{{ model.purchaseAmount | currency }}</div>
      </div>
      <div *ngIf="model.period > 1" class="d-flex flex-column flex-sm-row flex-wrap align-items-center col-md-4">
        <h4 class="col-md-12">{{ installmentLabel }}</h4>
        <div class="h5 col-sm-6 right">{{ installmentLabel }} Payment:</div><div class="h5 col-sm-6 col-md-4 right">{{ model.periodicAmount | currency }}</div>
        <div class="h5 col-sm-6 right">Purchasing Power:</div><div class="h5 col-sm-6 col-md-4 right">{{ model.periodicPurchaseAmount | currency }}</div>
      </div>  
      <hr class="col-12">
    </div>
    <p>
      <button (click)="back()"
        class="btn btn btn-default">
        <i class="fas fa-chevron-left"></i>
        Back
      </button>
      <button (click)="continue()"
        class="btn btn-2x btn-primary">
        2. Search
        <i class="fas fa-chevron-right"></i>
      </button>
    </p>
    <div class="d-flex align-items-center justify-content-center">
        <p class="col-6"><sup>*</sup>Purchasing power is roughly equal to the cost of vehicles within your price range, based upon the monthly 
          payment that you can afford to pay. Additional dealer discounts, sales & promotions may actually increase your purchasing power even higher. 
          We'll help you search for vehicles priced below {{ model.periodicPurchaseAmount | currency }}.
          <br>Click the button above to get pre-qualified for the perfect vehicle in this price range.</p>    
    </div>
  </div>
</div>
