<div class="buyNowPanel col-md-12 d-flex flex-row flex-wrap">
  <h2 class="col-12">You can buy this vehicle online now</h2>
  <p class="col-12">This is the quickest way to get you driving the vehicle of your dreams. We'll prepare all
     of the paperwork for you ahead of time. We'll also wash your car and have it ready to sign and drive when 
     you arrive. We'll drop you an email when it's ready to be picked up. Be sure to bring your id and proof of
    insurance with you.</p>
  <p class="col-12">Want to test drive it first? You can take it for a spin when you get here. Even better, 
    choose the platinum package below to ensure that this high quality vehicle is covered for any major 
    repairs for the next 7 years giving you peace of mind both now and for the life of your vehicle.
  </p>
  <h3 class="col-12 mt-3">Step 1: Choose A Protection Package</h3>
  <div class="col-md-6 col-xl-8">
    <h5>{{ car.selectedPlan }} {{ installmentLabel }} {{ calculatePayment(car, selectedPeriod) | currency }}</h5>
    <h5>{{ car.selectedPlan }} Monthly {{ calculatePayment(car, 3) | currency }}</h5>
  </div>
  <div class="col-md-6 col-xl-4 text-right buttons d-flex flex-row text-right justify-content-between align-items-end">
    <button class="btn btn-default silver" [class.zoom]="car.selectedPlan == 'Silver'" (click)="car.selectedPlan = 'Silver'">Silver</button>
    <button class="btn btn-default gold" [class.zoom]="car.selectedPlan == 'Gold'" (click)="car.selectedPlan = 'Gold'">Gold</button>
    <button class="btn btn-default platinum" [class.zoom]="car.selectedPlan == 'Platinum'" (click)="car.selectedPlan = 'Platinum'">Platinum</button>
  </div>
  <div class="coverage col-12 border d-flex flex-row flex-wrap" *ngFor="let key of coverages">
    <div class="col-md-6 col-xl-8">
      <span [class.strike]="!planPricing[car.selectedPlan][key]">{{ planPricing['Platinum'][key].description }}
        (+{{ planPricing['Platinum'][key][installmentKey] | currency }} {{ installmentKey }})</span>
    </div>
    <div class="col-md-6 col-xl-4 border d-flex flex-row text-right justify-content-between">
      <i class="fa-2x" [ngClass]="planPricing['Silver'][key] ? 'fas fa-check' : 'fas fa-times'"></i>
      <i class="fa-2x" [ngClass]="planPricing['Gold'][key] ? 'fas fa-check' : 'fas fa-times'"></i>
      <i class="fa-2x" [ngClass]="planPricing['Platinum'][key] ? 'fas fa-check' : 'fas fa-times'"></i>
    </div>
  </div>
  <form #jumboForm="ngForm" class="form-horizontal d-flex flex-row align-items-center justify-content-start flex-wrap">
    <h3 class="col-12 mt-3">Step 2: Enter Your Contact Information</h3>
    <div class="col-12 col-md-4">
      <div class="form-group" [class.has-danger]="firstName.touched && firstName.invalid" [class.has-success]="firstName.valid">
        <input type="text" #firstName="ngModel" name="firstName" placeholder="{{ 'Your First Name' | translate }}"
          pattern="\w{2,}\s+\w{2,}" [(ngModel)]="model.firstName" class="form-control" required />
        <span *ngIf="firstName.touched && firstName.invalid" class="text-danger">Enter your first name</span>
      </div>
      <div class="form-group" [class.has-danger]="lastName.touched && lastName.invalid" [class.has-success]="lastName.valid">
        <input type="text" #lastName="ngModel" name="lastName" placeholder="{{ 'Your Last Name' | translate }}" pattern="\w{2,}\s+\w{2,}"
          [(ngModel)]="model.lastName" class="form-control" required />
        <span *ngIf="lastName.touched && lastName.invalid" class="text-danger">Enter your last name</span>
      </div>
      <div class="form-group" [class.has-danger]="email.touched && email.invalid" [class.has-success]="email.valid">
        <input type="email" #email="ngModel" name="email" placeholder="{{ 'Email' | translate }}" pattern='^[^ @]+@[^ @]+\.[^ \.@]{2,5}$'
          [(ngModel)]="model.email" class="form-control" required />
      </div>
      <div class="form-group" [class.has-danger]="phone.touched && phone.invalid" [class.has-success]="phone.valid">
        <input type="phone" #phone="ngModel" name="phone" placeholder="{{ 'Phone Number' | translate }}" pattern="^\(?\d{3}[\)-\s\.]*\d{3}[-\s\.]*\d{4}$"
          [(ngModel)]="model.phone" class="form-control" required />
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-group" [class.has-danger]="address.touched && address.invalid" [class.has-success]="address.valid">
        <input type="text" #address="ngModel" name="address" placeholder="{{ 'Address' | translate }}" pattern="\w{2,}\s+\w{2,}"
          [(ngModel)]="model.address" class="form-control" required />
        <span *ngIf="address.touched && address.invalid" class="text-danger">Enter your street address</span>
      </div>
      <div class="form-group" [class.has-danger]="city.touched && city.invalid" [class.has-success]="city.valid">
        <input type="text" #city="ngModel" name="city" placeholder="{{ 'City' | translate }}" pattern="\w{2,}\s+\w{2,}"
          [(ngModel)]="model.city" class="form-control" required />
        <span *ngIf="city.touched && city.invalid" class="text-danger">Enter your city</span>
      </div>
      <div class="form-group" [class.has-danger]="state.touched && state.invalid" [class.has-success]="state.valid">
        <input type="text" #state="ngModel" name="state" placeholder="{{ 'State' | translate }}" pattern="\w{2,}\s+\w{2,}"
          [(ngModel)]="model.state" class="form-control" required />
        <span *ngIf="state.touched && state.invalid" class="text-danger">Enter your state</span>
      </div>
      <div class="form-group" [class.has-danger]="zipcode.touched && zipcode.invalid" [class.has-success]="zipcode.valid">
        <input type="text" #zipcode="ngModel" name="name" placeholder="{{ 'Zip Code' | translate }}" pattern="\w{2,}\s+\w{2,}"
          [(ngModel)]="model.zipcode" class="form-control" required />
        <span *ngIf="zipcode.touched && zipcode.invalid" class="text-danger">Enter your zipcode</span>
      </div>
    </div>
    <div class="col-12 col-md-4">
      Be sure to enter this information accurately. We need to be able to contact you in order 
      to inform you that we've finished preparing your new vehicle. We'll also need to make 
      sure that your identification matches this information when you pick up your vehicle.
    </div>
  </form>
  <p class="col-12 text-right">
    <button class="btn btn-secondary text-center my-3" (click)="back.emit()"><i class="fas fa-chevron-left"></i> Back</button>
    <button class="btn btn-2x btn-success text-center my-3" (click)="checkout.emit()">Checkout <i class="fas fa-chevron-right"></i></button>
  </p>
</div>