.buyNowPanel {
    background: white;
}
.coverage {
    .far, .fas {
        margin-left: 20px;
    }
    .btn i {
        margin-left: 0;
    }
    .btn-small {
        zoom: .8;
        background: #eee;

    }
}
.coverage .fa-2x {
  &.fa-check-square,
  &.fa-check {
    color: green;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
    .buttons {
        zoom: .5;
    }
}

@media (min-width: 900px) and (max-width: 1440px) {
    .buttons {
        zoom: .7;
    }
}
