@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-brand img {
  height: 50px;
}

.brand-dealer {
  color: royalblue;
  font-weight: bold;
  font-size: 3rem;
  -webkit-text-stroke: 1px white;
  text-shadow:
   -1px -1px 0 royalblue,  
    1px -1px 0 royalblue,
    -1px 1px 0 royalblue,
     1px 1px 0 royalblue;
}
.brand-one {
  color: goldenrod;
  font-weight: bold;
  font-size: 3rem;
  -webkit-text-stroke: 1px white;
  text-shadow:
   -1px -1px 0 goldenrod,  
    1px -1px 0 goldenrod,
    -1px 1px 0 goldenrod,
     1px 1px 0 goldenrod;
  }
  .breadcrumbs {
    margin-top: -1rem;
  }
  .breadcrumbs a {
    color: white;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
   }