/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

.btn-2x {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.6rem;
}
.btn-3x {
    padding: 0.5rem 1rem;
    font-size: 3rem;
    line-height: 1.5;
    border-radius: 0.6rem;
}
span.x2 {
    font-size: 2rem;
    vertical-align: middle;
}
span.x3 {
    font-size: 3rem;
    vertical-align: middle;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

body {
    background: url(assets/body.png);
    background-size: cover;
}
.jumbotron {
    background-color: rgba(255,255,255,.2);
}
.dealer-logo img {
    filter: drop-shadow(0 0 1px #fff);
}

.pointer {
    cursor: pointer;
}