/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

.btn-2x {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.6rem;
}
.btn-3x {
    padding: 0.5rem 1rem;
    font-size: 3rem;
    line-height: 1.5;
    border-radius: 0.6rem;
}
span.x2 {
    font-size: 2rem;
    vertical-align: middle;
}
span.x3 {
    font-size: 3rem;
    vertical-align: middle;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

body {
    background: url(assets/body.png);
    background-size: cover;
}
.jumbotron {
    background-color: rgba(255,255,255,.2);
}
.dealer-logo img {
    filter: drop-shadow(0 0 1px #fff);
}

.pointer {
    cursor: pointer;
}
.jumbotron {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
}

.close {
    position: absolute;
    top: .1rem;
    right: .1rem;
    font-size: 2rem;
    color: black;
    z-index: 5;
}

@media (min-width: 576px) {
    .show-sm {
        display: block;
    }
    .hide-sm {
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .show-md {
        display: block;
    }
    .hide-md {
        display: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .show-lg {
        display: block;
    }
    .hide-lg {
        display: none;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .visible-xl {
        display: block;
    }
    .hide-xl {
        display: none;
    }
}