<footer class="container-fluid">
  <div class="d-flex flex-row justify-content-center flex-wrap">
    <div class="card col-md-3 mr-2">
      <div class="card-body">
        <h5 class="card-title">A Better Buying Experience</h5>
        <p class="card-text">
          We can help you minimize the hassle of buying your next vehicle. Our unique online purchasing experience begins with determining how much you can afford to spend on a new car or truck.
        </p>
        <p class="card-text">
          Starting with your monthly payment and credit history, we calculate your purchasing power and
          then show you all the vehicles which match that criteria.</p> 
        <p>But we also show you how to use SmartPayment's&trade; accelerated payment plans 
          to either increase your purchasing power or save money on interest charges by paying off your loan quicker.
        </p>
        <a [routerLink]="['/buy']" routerLinkActive="router-link-active"  class="btn btn-primary"><i class="fas fa-car"></i> Get Started</a>
      </div>
    </div>
    <div class="card col-md-3 mr-2">
      <div class="card-body">
        <h5 class="card-title">Sell Your Vehicle</h5>
        <p class="card-text">
          In partnership with MaxAllowance, we help you obtain top dollar for your vehicle, either as a 
          trade-in toward a new vehicle, or if you are just selling your vehicle out-right.
        </p>
        <p class="card-text">
          Using MaxAllowance, you can find out in advance, what your car is really worth. Other online valuation tools don't 
          know your local market like we do. Let us help you get paid what your vehicle is really worth. We'll help you document
          exactly what you can expect before you visit the dealer showroom. 
        </p>
        <p class="card-text">
          Knowledge is power. Be powerful.
        </p>
        <a [routerLink]="['/sell']" routerLinkActive="router-link-active"  class="btn btn-success"><i class="fas fa-dollar-sign"></i> Sell Your Vehicle</a>
      </div>
    </div>
    <div class="card col-md-3">
      <div class="card-body">
        <h5 class="card-title">Save Time</h5>
        <p class="card-text">
          We exist to help you save money. We work in partnership with MaxAllowance.com to provide you 
          with an entirely new way to buy a car online.
        </p>
        <p class="card-text">
          We help you answer three questions that are foundational to buying the perfect car for your needs:
        </p>
        <ol>
          <li>How much can I afford?</li>
          <li>What vehicles match my budget?</li>
          <li>How can I save on financing costs?</li>
        </ol>
        <p class="card-text">
          Let us save you hours of time at a car dealership. Know your options
          and your vehicle before you step foot in the showroom.
        </p>
        <a [routerLink]="['/payment-calculator']" routerLinkActive="router-link-active" class="btn btn-warning">Learn More <i class="fas fa-graduation-cap"></i></a>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-end flex-wrap">
    <div class="powered-by">
        <img src="/assets/PoweredByQuoteproMax.png" width="100%"/>
    </div>
  </div>
</footer>