<footer class="container-fluid">
  <div class="d-flex flex-row justify-content-center flex-wrap">
    <div class="card col-md-3 mr-2">
      <div class="card-body">
        <h5 class="card-title">A Better Buying Experience</h5>
        <p class="card-text">
          We can help you minimize the hassle of buying your next vehicle. Our unique online purchasing 
          experience begins with determining how much you can afford to spend on a new car or truck.
        </p>
        <p class="card-text">
          Starting with your monthly payment and credit history, we calculate your purchasing power and
          then show you all the vehicles which match that criteria.</p> 
        <p>But we also show you how to use accelerated payment plans 
          to either increase your purchasing power or save money on 
          interest charges by paying off your loan quicker.
        </p>
        <a [routerLink]="['/buy']" routerLinkActive="router-link-active"  class="btn btn-primary"><i class="fas fa-car"></i> Get Started</a>
      </div>
    </div>
    <div class="card col-md-3 mr-2">
      <div class="card-body">
        <h5 class="card-title">Sell Your Vehicle</h5>
        <p class="card-text">
          Find out in advance, what your car is really worth. Other online valuation tools don't 
          know your local market like we do. Let us help you get paid what your vehicle is really worth. 
          We'll help you document exactly what you can expect before you visit the dealer showroom.
        </p>
        <p class="card-text">
            We help you find out how much your car is worth. Many valuation services provide
            prices that benefit car dealerships, instead of you. We use the same valuation services
            that insurance companies use, called Redbook&trade;, instead of Bluebook&trade; or Edmunds&trade;.
            You'll be shown the current value of your vehicle, as it depreciates over time, with a value
            equivalent to its "Totaled" insurance value.
          </p>
        <p class="card-text">
          Knowledge is power. Be powerful.
        </p>
        <a [routerLink]="['/sell']" routerLinkActive="router-link-active"  class="btn btn-success"><i class="fas fa-dollar-sign"></i> Sell Your Vehicle</a>
      </div>
    </div>
    <div class="card col-md-3">
      <div class="card-body">
        <h5 class="card-title">Save Time</h5>
        <p class="card-text">
          We exist to help you buy the car of your dreams. With an entirely new way to buy a car online, 
          you can rest assured that you're getting top dollar for your trade-in, and the best car you can 
          afford.
        </p>
        <p class="card-text">
          We help you answer three questions that are foundational to buying the perfect car for your needs:
        </p>
        <ol>
          <li>How much can I afford?</li>
          <li>What vehicles match my budget?</li>
          <li>How can I save on financing costs?</li>
        </ol>
        <p class="card-text">
          Let us save you hours of time at a car dealership. Know your options
          and your vehicle before you step foot in the showroom.
        </p>
        <a [routerLink]="['/payment-calculator']" routerLinkActive="router-link-active" class="btn btn-warning">Learn More <i class="fas fa-graduation-cap"></i></a>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-end flex-wrap">
    <div class="powered-by">
        <img src="/assets/PoweredByQuotepro.png" width="100%"/>
    </div>
  </div>
</footer>