<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/Vin2Cash.png" alt="angular logo"/>
      <p translate>We can save you serious cash</p>
    </h1>
    <p translate>Buying, Selling or Trading In. We've got a truckload of savings waiting for you.</p>
    <p>
      <button (click)="buy()"
        class="btn btn-2x btn-primary">
        <i class="fas fa-car"></i>
        Buy
      </button>
      <button
        class="btn btn-2x btn-success">
        <i class="fas fa-dollar-sign"></i>
        Sell
      </button>
      <span class="x2"> OR </span>
      <button
        class="btn btn-2x btn-warning">
        <i class="fas fa-handshake"></i>
        Trade
      </button>
    </p>        
     
  </div>
</div>
