<div class="container-fluid">
  <div class="jumbotron text-center">
    <div *ngIf="dealerLogo" class="dealer-logo col-md-6 col-lg-3">
      <img src="/assets/{{dealerLogo}}" width="75%" height="auto"/>
    </div>
    <img src="assets/Featured.png" class="col-md-6"/>
    <p>
      <button (click)="buy()"
        class="btn btn-2x btn-primary">
        <i class="fas fa-car"></i>
        Buy
      </button>
      <button (click)="sell()"
        class="btn btn-2x btn-success">
        <i class="fas fa-dollar-sign"></i>
        Sell
      </button>
      <span class="x2"> OR </span>
      <button (click)="trade()"
        class="btn btn-2x btn-warning">
        <i class="fas fa-handshake"></i>
        Trade
      </button>
    </p>        
     
  </div>
</div>
